* {
  font-size: 17px;
}
/* Contenedor */
.container {
  display: flex;
  flex-direction: column;
  border: 7px solid black;
  border-radius: 5px;
  background-color: antiquewhite;
  text-align: center;
  justify-content: center;
}
/* Titulo */
h1 {
  font-size: 40px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: grey;
  width: 300px;
  align-self: center;
}
/* Subtitulos */
.subtitulos {
  font-size: 30px;
}
/* Contenedores */
div div div div{
  padding-left: 50px;
  padding-right: 50px;
  align-self: center;
  border: 3px solid black;
  border-radius: 10px;
  background-color: grey;
  margin: 10px;
}
.enlaces a {
  text-decoration: none;
  
}
.enlaces{
  padding-left: 20px;
  align-self: center;
  border: 3px solid black;
  border-radius: 10px;
  background-color: grey;
  margin: 10px;
}
  /* Imagenes */
  img{
    width: 400px;
  }
  

  